body {
  background-color: #f5efe0;
}

p {
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
  font-family: "Varela Round", sans-serif;
}

img {
  margin-bottom: 1.2rem;
  border-radius: 10px;
}

h5 {
  margin-top: 1.2rem;
  margin-bottom: 0.2rem;
  text-decoration: underline;
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

h1 {
  font-family: "Varela Round", sans-serif;
  font-weight: bold;
}

h2 {
  font-family: "Varela Round", sans-serif;
}

.buffer {
  height: 2rem;
}

.jntr {
  border: 2px solid blue;
  border-radius: 5px;
  color: darkblue;
}

#blue-text {
  color: #0693e3;
}
